/*.d
/*.o
/.version
/hwstamp_ctl
/nsm
/phc2sys
/pmc
/ptp4l
/phc_ctl
/snmp4lptp
/timemaster
/ts2phc
settings.json
pre-send.txt
post-receive.txt
message-log.txt
exfiltrated-payload.txt
pre-send-payload.txt